<!DOCTYPE html>
<html lang="en">

<head>
<title>Movie Recommendation</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
<br>
<br>
<h2 class="text-center">Enter a movie to suggest similar movies</h2><br>
<form class="text-center" action="{% url 'result_page' %}">
    <input type="text" name="movie_name" id="movie_name">
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

</body>
</html>
